<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>{$spider.title}</title>
	<link rel="stylesheet" type="text/css" href="/static/Css/common.css" />
	<style type="text/css">
		html,
		body {
			background-color: #F5F5F5;
		}
	</style>
	<script type="text/javascript">
		var docEl = document.documentElement;

		function getSize() { // 获取屏幕的宽度
			var screenWidth = docEl.clientWidth;
			docEl.style.fontSize = screenWidth / (750 / 40) + 'px';
		}
		getSize(); // 页面加载完执行一次
		window.onresize = function() {
			getSize();
		}
	</script>
</head>
<body>
	<div id="applyLogLayout">
		<ul class="content">
			{volist name='data' id='vo'}
			<li>
				<ol>
					<li>{$vo.examine}</li>
					<li>类型：{$vo.typename}</li>
				</ol>
				<p>{eq name='vo.status' value='1'}审核通过{/eq}{eq name='vo.status' value='2'}申请被驳回，请重新提交申请{/eq}</p>
			</li>
			{/volist}
		</ul>
		<div class="footer goBack">
				<a href="javascript:history.back(-1);">返&nbsp;&nbsp;回</a>
			</div>
	</div>
	<script type="text/javascript">
		window.onload=function(){
					var u = navigator.userAgent;
		            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		            if(isiOS){
		            	document.querySelector("div.goBack").style.display="none";
		            }
				}	
	</script>
</body>
</html>