{include file='index@common/header'/}
<link rel="stylesheet" type="text/css" href="/static/Css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/static/Css/orderManage.css"/>
		<style type="text/css">
			html,
			body {
				background-color: #F5F5F5;
			}
			.none {display: none;}.status-total{display: flex;justify-content: space-between;align-items: center;}
			.status-total>span{color: #ff0000;margin-left: .75rem;border:1px solid #ff0000;padding: 2px;}#fpage{display: none;}
		</style>
		<script src="/static/Js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Js/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
<body>
			<div id="lowerOrderLayout">
				<ol>
					<li {if condition="$status eq 0"} class="current" {/if}>
						<p><img {if condition="$status eq 0"}src="/static/Images/O_light_1.png" {else}src="/static/Images/O_gray_1.png"{/if} alt="全部" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/0")}">全部订单</a>
					</li>
					<!-- 
					<li {if condition="$status eq 1"} class="current" {/if}>
						<p><img {if condition="$status eq 1"}src="/static/Images/O_light_2.png" {else}src="/static/Images/O_gray_2.png"{/if} alt="待付款" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/1")}">待付款</a>
					</li> -->
					<li {if condition="$status eq 2"} class="current" {/if}>
						<p><img {if condition="$status eq 2"}src="/static/Images/O_light_3.png" {else}src="/static/Images/O_gray_3.png"{/if} alt="待发货" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/2")}">待发货</a>
					</li>
					<li {if condition="$status eq 3"} class="current" {/if}>
						<p><img {if condition="$status eq 3"}src="/static/Images/O_light_4.png" {else}src="/static/Images/O_gray_4.png"{/if} alt="待收货" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/3")}">待收货</a>
					</li>
					<li {if condition="$status eq 4"} class="current" {/if}>
						<p><img {if condition="$status eq 4"}src="/static/Images/O_light_5.png" {else}src="/static/Images/O_gray_5.png"{/if} alt="已完成" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/4")}">已完成</a>
					</li>
					<!-- <li {if condition="$status eq 7"} class="current" {/if}>
						<p><img {if condition="$status eq 7"}src="/static/Images/O_light_5.png" {else}src="/static/Images/O_gray_5.png"{/if} alt="售后服务" /></p>
						<a href="{:url("/index/Order/lowerOrders/status/7")}">售后服务</a>
					</li> -->
				</ol>
				<div class="content" id="orderList">
					<div class="order">

					{foreach name="orderList" item="item"}
						<div class="wordColor order-status title">
							<div><span>订单编号：</span>{$item.order_number}</div>
						</div>
 						<div class="wordColor takeInfo">
							<p><span>收货人：</span>{$item.consigneeInfo.consignee_name}</p>
							<p class="pMargin"><span>联系电话：</span>{$item.consigneeInfo.consignee_phone}</p>
							<p><span>收货地址：</span>{$item.consigneeInfo.province|get_address_name_by_id}{$item.consigneeInfo.city|get_address_name_by_id}{$item.consigneeInfo.area|get_address_name_by_id}{$item.consigneeInfo.address}</p>
							{if condition="!empty($item.agent_remark)"}
							<p><span>买家留言：</span>{$item.agent_remark}</p>
							{/if}
						</div>

						<ul>
						{foreach name="item.productList" item="kk"}
							<li>
					  			<a href="">
					  				<img src="{$kk.product.product_img}" alt="" />
					  				<div>
					  					<p class="proName">{present name="kk->product->is_first_order"}{eq name="kk->product->is_first_order" value='1'}<span class="proFlag">首单商品</span>{/eq}{/present}{$kk.pname}</p>
					  					<p class="other">
					  						<span class="goods-price"><span class="yen">￥</span>{$kk.pprice}</span>
					  						<span class="sale">X{$kk.pnumber}</span>
					  					</p>
					  				</div>
					  			</a>
					  		</li>
					  	{/foreach}
						</ul>
						<div class="takeInfo wordColor text-right">
								<p><span>商品金额：</span>￥{$item.ptotal_price}</p>
								<p class="pMargin"><span>运费：</span>￥{$item.trans_expenses}</p>
								<p><span>代理折扣：</span>￥{$item.agent_total_price}</p>
							</div>
						<div class="status-total">
							{if condition="!empty($item.returnInfo)"}
								<span class="auth-status">
									{if condition="$item.returnInfo.auth_status eq 1"}
										 退货审核中 
									{elseif condition="$item.returnInfo.auth_status eq 2"}
										 退货通过 
									{elseif condition="$item.returnInfo.auth_status eq 3"}
										 退货拒绝 
									{/if}
								</span>
							{/if}
							
							{if condition="$item.order_status eq 7 "} 
								<span>
										{if condition="$item.refundInfo.auth_status eq 1"}
											 退款审核中 
										{elseif condition="$item.refundInfo.auth_status eq 2"}
											 退款通过 
										{elseif condition="$item.refundInfo.auth_status eq 3"}
											 退款拒绝 
										{/if}
								</span>
							{else /}
								<span style="border:none;"></span>
							{/if}
							<p class="total"><span>实际金额：{if condition="$item.trans_expenses >1"}(含运费{$item.trans_expenses}){/if}</span><span class="goods-price"><span class="yen">￥</span>{$item.order_amount_pay}</span></p>
						</div>
						
						<div class="btn">
							<a href="{:url('/index/Order/lowerOrderDetail/id/'.$item.order_number)}"><button>订单详情</button></a>
						 
							{if condition="in_array($item.order_status,array(3,4))"}
								<a href="{:url('/index/Order/expressInfo/order_number/'.$item.order_number.'/type/1')}"><button>查看物流</button></a>
							{/if}
						</div>
						<div style="height:.4rem;background-color:#F5F5F5;width:100%;"></div>
					{/foreach}

					</div>

				</div>
			</div>
		 
	{include file='index@common/footer_button'}
	<script type="text/javascript">

		//订单设置公司代发
		function companyDelivery(id)
		{
			layer.msg('你确定设置公司发货吗', {
				  time: 0 //不自动关闭
				  ,btn: ['确定', '取消']
				  ,yes: function(index){
				    layer.close(index);

				    $.ajax({
						url:'{:url("/index/Order/changeOrderStatus")}',
						data:{order_number:id,order_status:2,type:1},
						type:'post',
						success:function(data){
							if(data==1){
								location.reload();
							}else{
								if(data==2) {
									layer.alert('您的库存额度不足，请先充值库存');
									//window.location.href='{:url("/index/person/rechargestock")}';
									return false;
								} else {
									layer.alert('操作失败，请重试');
									return false;
								}
							}
						}
					});

				  }
			});
		}
		
 	 
		 
	</script>
</html>
