{include file='index@common/header'/}
	<link rel="stylesheet" type="text/css" href="/static/Css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/static/Css/orderManage.css"/>
	<style type="text/css">
		html,
		body {
			background-color: #F5F5F5;
		}
		.none {display: none;} .btn{display: block;}
	</style>
	<script src="/static/Js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/Js/layer.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="orderDetailContent" class="myOrder">
		<div>
			<div class="number wordColor order-status">
						<div><span>订单编号：</span>{$orderDetail.order_number}</div>
						{if condition="$type eq 2"}<div>大礼包订单</div>{/if}
			</div>
			<div class="takeInfo wordColor">
				<p><span>收货人：</span>{if condition="$type eq 2"}{$orderDetail.consignee_name}{else /}{$orderDetail.consignee.consignee_name}{/if}</p>
				<p class="pMargin"><span>联系电话：</span>{if condition="$type eq 2"}{$orderDetail.consignee_phone}{else /}{$orderDetail.consignee.consignee_phone}{/if}</p>
				<p><span>收货地址：</span>{if condition="$type eq 2"}{$orderDetail.consignee_province|get_address_name_by_id}{$orderDetail.consignee_city|get_address_name_by_id}{$orderDetail.consignee_area|get_address_name_by_id}{$orderDetail.consignee_address}{else /} {$orderDetail.consignee.province|get_address_name_by_id}{$orderDetail.consignee.city|get_address_name_by_id}{$orderDetail.consignee.area|get_address_name_by_id}{$orderDetail.consignee.address}{/if}</p>
			</div>
			<div class="agencyInfo wordColor">
				<p><span>代理商ID：</span>{$orderDetail.agents.agent_id}</p>
				<p class="pMargin"><span>昵称：</span>{$orderDetail.agents.nickname}</p>
				<p><span>微信号：</span>{$orderDetail.agents.wechat}</p>
				<p class="pMargin"><span>联系方式：</span>{$orderDetail.agents.phone}</p>
			</div>
			{if condition="$type eq 1 && !empty($orderDetail.remark)"}
				<div class="wordColor order-status remarks">
				<p class="pMargin"><span>备注：</span>{$orderDetail.remark}</p>
				</div>
			{/if}
			
			{if condition="$type eq 2 && !empty($orderDetail.order_remark)"}
				<div class="wordColor order-status remarks">
				<p class="pMargin"><span>备注：</span>{$orderDetail.order_remark}</p>
				</div>
			{/if}
			
			{if condition="$type eq 2 && !empty($orderDetail.remark)"}
				<div class="number wordColor order-status">
				<p class="pMargin"><span>买家留言：</span>{$orderDetail.remark}</p>
				</div>
			{/if}
			{if condition="$type eq 1 && !empty($orderDetail.agent_remark)"}
				<div class="number wordColor order-status">
				<p class="pMargin"><span>买家留言：</span>{$orderDetail.agent_remark}</p>
				</div>
			{/if}
			
			<ol>
			{if condition="$type eq 2"}
				<li>
			  		<a href="">
			  			<img src="{$orderDetail.gift.pic}" alt="" />
			  			<div>
				  			<p class="proName">{$orderDetail.gift.name}</p>
				  			<p class="other">
				  			<span class="goods-price"><span class="yen">￥</span>{$orderDetail.gift.price}</span>
				  			<span class="sale">X{$orderDetail.pnumber}</span>
				  			</p>
			  			</div>
			  		</a>
			  	</li>
			{else /}
				{foreach name="productList" item="item"}
					<li>
			  			<a href="">
			  				<img src="{$item.product.product_img}" alt="" />
			  				<div>
			  					<p class="proName">{$item.pname}</p>
			  					<p class="other">
			  						<span class="goods-price"><span class="yen">￥</span>{$item.pprice}</span>
			  						<span class="sale">X{$item.pnumber}</span>
			  					</p>
			  				</div>
			  			</a>
			  		</li>
			  	{/foreach}
		  	{/if}

			</ol>
			{if condition="$type eq 1"}{if condition="$orderDetail.trans_expenses gt 0"}<p class="total"><span>运费：</span><span class="goods-price"><span class="yen">￥{$orderDetail.trans_expenses}</span></span></p>{/if}{/if}
			<div class="number wordColor dataTime">
				<span>下单时间：{$orderDetail.ctime|date='m-d H:i:s',###}</span>
				<span>支付时间：{if condition="empty($orderDetail.pay_time)"}{$orderDetail.ctime|date='m-d H:i:s',###}{else /}{$orderDetail.pay_time|date='m-d H:i:s',###}{/if}</span>
			</div>
			{if condition="!empty($orderDetail.returnInfo.auth_status)"}
				<div class="number wordColor" style="height:auto;line-height:1.8;">
					<div class="pMargin">
						<span>
								{if condition="$orderDetail.returnInfo.auth_status eq 1"}
									 退货审核中 
								{elseif condition="$orderDetail.returnInfo.auth_status eq 2"}
									 同意退货
								{elseif condition="$orderDetail.returnInfo.auth_status eq 3"}
									 拒绝退货
								{/if}
						</span>
						{if condition="!empty($orderDetail.returnInfo.reason)"}
						<p><span>理由：</span>{$orderDetail.returnInfo.reason}</p>
						{/if}
					</div>
				</div>
			{/if}
			
				{if condition="!empty($orderDetail.refundInfo.auth_status)"}
				<div class="number wordColor" style="height:auto;line-height:1.8;">
					<div class="pMargin">
						<span>
								{if condition="$orderDetail.refundInfo.auth_status eq 1"}
									退款审核中
								{elseif condition="$orderDetail.refundInfo.auth_status eq 2"}
									同意退款
								{elseif condition="$orderDetail.refundInfo.auth_status eq 3"}
									拒绝退款
								{/if}
						</span>
						{if condition="!empty($orderDetail.refundInfo.reason)"}
						<p><span>理由：</span>{$orderDetail.refundInfo.reason}</p>
						{/if}
					</div>
				</div>
				{/if}
				<div class="takeInfo wordColor text-right">
					<p><span>商品金额：</span>￥{$orderDetail.ptotal_price}</p>
					<p class="pMargin"><span>运费：</span>￥{$orderDetail.trans_expenses}</p>
					<p><span>代理折扣：</span>￥{$orderDetail.agent_total_price}</p>
				</div>
			<p class="total"><span>实际金额：</span><span class="goods-price"><span class="yen">￥</span>{if condition="$type eq 2"}{$orderDetail.order_price}{else /}{$orderDetail.order_amount_pay}{/if}</span></p>
			<div class="btn">
				{if condition="$type eq 2"}
					
						{if condition="$orderDetail.status eq 1"}
						<!-- <button onclick="cancleOrder('{$orderDetail.order_number}',2)">退款</button> -->
						{else /}
						<button onclick="deleteOrder('{$orderDetail.order_number}',2)">删除订单</button>
						{/if}
				{else /}
						{if condition="$orderDetail.order_status eq 2"}
							{if condition="$productInfo.is_agent_level ==0"}
							<!-- <button onclick="cancleOrder('{$orderDetail.order_number}')">退款</button> -->
							{/if}
						{else /}
							<button onclick="deleteOrder('{$orderDetail.order_number}')">删除订单</button>
						{/if}
				{/if}
			</div>
		</div>
	</div>
	<div>
		<div style="height:2.5rem;"></div>
		{include file='index@common/footer_button'}
	</div>
<script type="text/javascript">
	//订单取消
	function cancleOrder(id,type=1)
	{
		layer.msg('你确定退款吗', {
			  time: 0 //不自动关闭
			  ,btn: ['确定', '取消']
			  ,yes: function(index){
			    layer.close(index);

			    $.ajax({
					url:'{:url("/index/Order/changeOrderStatus")}',
					data:{order_number:id,order_status:7,type:type},
					type:'post',
					success:function(data){
						if(data){
							window.location.href='{:url("/index/Order/myOrders")}';
						}else{
							layer.alert('操作失败，请重试');
							return false;
						}
					}
				});

			  }
		});
	}

	//订单删除
	function deleteOrder(id,type=1)
	{
		layer.msg('你确定删除订单吗', {
			  time: 0 //不自动关闭
			  ,btn: ['确定', '取消']
			  ,yes: function(index){
			    layer.close(index);

			    $.ajax({
					url:'{:url("/index/Order/changeOrderStatus")}',
					data:{order_number:id,order_status:6,type:type},
					type:'post',
					success:function(data){
						if(data){
							if(type==1) {
								window.location.href='{:url("/index/Order/myOrders")}';
							} else {
								window.location.href='{:url("/index/Order/promotionGiftOrders")}';
							}

						}else{
							layer.alert('操作失败，请重试');
							return false;
						}
					}
				});

			  }
		});
	}
</script>