{include file='index@common/header'}
		<link rel="stylesheet" type="text/css" href="/static/Css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/static/Css/orderManage.css"/>
		<style type="text/css">
			html,
			body {
				background-color: #F5F5F5;
			}
			.none {display: none;}
		</style>
		<script src="/static/Js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
			<div id="OMListContent">
				{present name='tip'}
				{eq name='tip' value='1'}
				{else/}
			    <div>
				   	<a href="javascript:redirect('{:url('/index/Order/lowerOrders')}');">
				   		<span><i class="lowerOrder"></i>下级订单</span>
				   </a>
			    </div>
			    {/eq}
			    {/present}
			    <div>
			   		<a href="javascript:redirect('{:url('/index/Order/myOrders')}');">
				   		<span><i class="myOrder"></i>我的订单</span>
				   </a>
			    </div>
			    <!-- 
			    <div>
			   		<a href="{:url('/index/Order/promotiongiftOrders')}">
				   		<span><i class="myOrder"></i>活动订单</span>
				   </a>
			    </div>
			     -->
			</div>

{include file='index@common/footer_button'}
