<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>地址</title>
		<link rel="stylesheet" type="text/css" href="/static/Css/common.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/areachose.css"/>
	    <script src="/static/Js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="/static/Js/areachose.js" type="text/javascript" charset="utf-8"></script>
	    <style type="text/css">
			body{background-color: #F5F5F5;}
			button{border: 0;}
		</style>
		<script type="text/javascript">
			var docEl = document.documentElement;

			function getSize() { // 获取屏幕的宽度
				var screenWidth = docEl.clientWidth;
				docEl.style.fontSize = screenWidth / (750 / 40) + 'px';
			}
			getSize(); // 页面加载完执行一次
			window.onresize = function() {
				getSize();
			}
		</script>
	</head>

	<body>
		<div id="addressContent">
			<div class="content">
				<div>所在地区</div>
				<div>
					<div class="div_address">
						<span id="location_p">{if condition="$data.province eq ''" }请选择地区{/if}{$data.province|get_address_name_by_id}</span>
						<span id="location_c">{$data.city|get_address_name_by_id}</span>
						<span id="location_a">{$data.area|get_address_name_by_id}</span>
					</div>	
				</div>
			</div>
			<div class="detailAddress">
			   <textarea id="reasonContent" name="address" placeholder="详细地址">{$data.address}</textarea>
			</div>
			<button type='button' class='btn_address'>确认</button>
		</div>
		
	</body>
	<script type="text/javascript">
		$(function(){
			 $(".div_address").chosearea({
				shengid:'location_p',
				shiid:'location_c',
				xianid:'location_a'
			});
		})
	</script>
	<script type="text/javascript">
        $(function(){
            $('.btn_address').click(function(){
               var sheng=$("#location_p").text();
                var shi=$("#location_c").text();
                var qu=$("#location_a").text();
                var address  = $('textarea[name=address]').val();
//                console.log(sheng+"<br/>"+address);
//				 提交验证
                if(sheng && shi && qu && address){
                    $.ajax({
                        url:'{:url("Personalinfo/saveAll")}',
                        data:{sheng:sheng,shi:shi,qu:qu,address:address},
                        type:'post',
                        success:function(e){
                            if(e.error){
                                alert(e.error.msg);
                                return false;
                            }else{
                                window.location.href = e.url;
                            }
                        }
                    });
                }else{
                    mobileTip('地址不能为空');
                    return false;
                }
            });
        });
	</script>
	<script type="text/javascript" src='/static/Js/layer_mobile/set_LayerMobile.js'></script>
</html>