<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>身份证号</title>
		<link rel="stylesheet" type="text/css" href="/static/Css/common.css"/>
		<script type="text/javascript" src='/static/Js/jquery.js'></script>

		<style type="text/css">
			body{background-color: #F5F5F5;}
			button{border: 0;}
		</style>
		<script type="text/javascript">
		var docEl = document.documentElement;
		function getSize() { // 获取屏幕的宽度
		  var screenWidth = docEl.clientWidth; 
		  docEl.style.fontSize = (screenWidth / (750 / 40)) + 'px';
		}
		getSize();// 页面加载完执行一次
		window.onresize = function() {
		  getSize();
		}
		</script>
	</head>
	<body>
		<div id="identityContent">
			<div>
				<input class="placeholder_99" type="text" name="identity" id="identity" placeholder="身份证号" value="{$data.id_card}" />
			</div>
			<button type='button' class='btn_identity'>确认</button>
		</div>
	</body>
	<script type="text/javascript">
        $(function(){
            $('.btn_identity').click(function(){
                var identity = $('input[name=identity]').val();
                var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                /* 提交验证 */
                if(pattern.test(identity)){
                    $.ajax({
                        url:'{:url("Personalinfo/saveAll")}',
                        data:{identity:identity},
                        type:'post',
                        success:function(e){
                            if(e.error){
                                alert(e.error.msg);
                                return false;
                            }else{
                                window.location.href = e.url;
                            }
                        }
                    });
                }else{
                    mobileTip('身份证号码不正确');
                    return false;
                }
            });
        });
	</script>
	<script type="text/javascript" src='/static/Js/layer_mobile/set_LayerMobile.js'></script>
</html>
