{include file='header'/}
<div id="performance-top">
                <h5>代理商角色变动记录</h5>
            </div>
<form id="agentorders" class="form-inline definewidth search_table" action="{:url('/admin/Agentchangerole/index')}" method="get">    
    代理商ID：
    <input type="text" name="agent_id" id="agent_id" class="abc input-default" placeholder="代理商ID" value="{if condition='$agent_id gt 0'}{$agent_id}{/if}">
    &nbsp;&nbsp;  
    代理商姓名：
    <input type="text" name="name" id="name" class="abc input-default" placeholder="代理商姓名" value="{if condition='$name gt 0'}{$name}{/if}">
    &nbsp;&nbsp;  
    联系方式：
    <input type="text" name="contact" id="contact" class="abc input-default" placeholder="联系方式" value="{if condition='$contact gt 0'}{$contact}{/if}">
    &nbsp;&nbsp;  
    角色： 
    <select name="role" id="role" class="search_input">
    <option value="-1">全部</option>
    {foreach name="roleList" item="item"}
    	<option value="{$item.id}" {if condition="$role eq $item.id"} selected="selected" {/if} >{$item.name}</option>
    {/foreach}
    </select>
    &nbsp;&nbsp;  
        来源： 
    <select name="reason" id="reason" class="search_input">
    <option value="0">全部</option>
    {foreach name="reasonList" item="item" key="key"}
    	<option value="{$key}" {if condition="$key eq $reason"} selected="selected" {/if} >{$item}</option>
    {/foreach}
    </select>  
            方式： 
    <select name="type" id="type" class="search_input">
    <option value="0">全部</option>
    {foreach name="typeList" item="item" key="key"}
    	<option value="{$key}" {if condition="$key eq $type"} selected="selected" {/if} >{$item}</option>
    {/foreach}
    </select>  
    <!-- <br><br> -->
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; 
     <button type="button" id="excel" class="btn btn-success">导出</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>代理商ID</th>
        <th>姓名</th>
        <th>联系方式</th>
        <th>当前角色</th>
        <th>创建时间</th>
        <th>变动前角色</th>
        <th>变动后角色</th>
        <th>来源</th>
        <th>方式</th>
        <th>备注</th>
    </tr>
    </thead>
    {foreach name="changeList" item="item"}
	     <tr>
            <td>{$item->agents->agent_id}</td>
            <td class="tl">{$item->agents->name}</td>
            <td class="tl">手机号：{$item->agents->phone}<br/>微信号：{$item->agents->wechat}</td>
            <td>{$item->agents->role|get_reward_levelname}</td>
            <td>{$item.create_time}</td>
            <td>{$item.before_role|get_reward_levelname}</td>
            <td>{$item.after_role|get_reward_levelname}</td>
            <td>{$item.reason}</td>
            <td>{$item.type}</td>
            <td>{$item.remark}</td>
        </tr>	
     {/foreach}
</table>
<div class="inline pull-right page">
{$changeList->render()}
</div>
</body>
</html>
<script>
    $(function () {
    	$('#excel').click(function(){
			window.location.href="{:url('/admin/Agentchangerole/excelIndex/agent_id/'.$agent_id.'/name/'.$name.'/contact/'.$contact.'/role/'.$role.'/reason/'.$reason.'/type/'.$type)}";
	 	});

    });
</script>