<!DOCTYPE html>
<html>
<head>
    <title>代理商申请信息</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/Css/style.css" />
    <!--S-->
    <link rel="stylesheet" type="text/css" href="/static/Css/bootstrap-datepicker.min.css" />
    <!--E-->
    <script type="text/javascript" src="/static/Js/jquery.js"></script>
    <script type="text/javascript" src="/static/Js/bootstrap.js"></script>
    <!--S-->
    <script type="text/javascript" src='/static/Js/bootstrap-datepicker.min.js'></script>
    <script type="text/javascript" src='/static/Js/bootstrap-datepicker.zh-CN.min.js'></script>
    <script type="text/javascript" src="/static/Js/artDialog/artDialog.js"></script>
    <!--E-->
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="{:url('/admin/Agents/applyListAgent')}" method="get">

    状态：
    <select name='status'>
        <option value='0'{notpresent name='search.status'} selected{/notpresent}>全　部</option>
        <option value='1'{present name='search.status'}{eq name='search.status' value='1'} selected{/eq}{/present}>待审核</option>
        <option value='2'{present name='search.status'}{eq name='search.status' value='2'} selected{/eq}{/present}>已审核</option>
        <option value='3'{present name='search.status'}{eq name='search.status' value='3'} selected{/eq}{/present}>未通过</option>
        <option value='4'{present name='search.status'}{eq name='search.status' value='4'} selected{/eq}{/present}>已取消</option>
    </select>&nbsp;&nbsp;
    代理商编号：
    <input type="text" name="a_id" value="{present name='search.a_id'}{$search.a_id}{/present}" class="abc input-default" />
    &nbsp;&nbsp;
    姓名：
    <input type="text" name="name" value="{present name='search.name'}{$search.name}{/present}" class="abc input-default" />
    &nbsp;&nbsp;
    代数：
    <select name='generation'>
        <option value='0'>全部</option>
        {present name='last_g'}
        {for start='1' end='$last_g+1'}
        <option value='{$i}'{present name='search.generation'}{if condition='$i eq $search.generation'} selected{/if}{/present}>{$i}代</option>
        {/for}
        {/present}
    </select>&nbsp;&nbsp;
    角色：
    <select name='role'>
        <option value='0'{notpresent name='search.status'} selected{/notpresent}>全　部</option>
        {foreach name="role_lang" item="role_lang_v" key="role_lang_k"}
        <option value='{$role_lang_k}'{present name='search.role'}{if condition='$role_lang_k eq $search.role'} selected{/if}{/present}>{$role_lang_v}</option>
        {/foreach}
    </select>&nbsp;&nbsp;
    申请时间：
    <input type="text" name="begin" value="{present name='search.begin'}{$search.begin}{/present}" class="abc input-default datepicker" />
    &nbsp;-&nbsp;
    <input type="text" name="end" value="{present name='search.end'}{$search.end}{/present}" class="abc input-default datepicker" />
    &nbsp;&nbsp;
    <button type="button" class="btn btn-primary search">查询</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success export">导出</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
            <th>代理商编号</th>
            <th>姓名</th>
            <th>联系方式</th>
            <th>角色</th>
            <th>状态</th>
            <th>团队人数</th>
            <th>销售总额</th>
            <th>最低库存</th>
            <th>当前库存</th>
            <th>申请时间</th>
            <th>审核时间</th>
            <th>操作</th>
        </tr>
    </thead>
    {empty name='list'}
    <tr>
        <td colspan='12'>暂时没有申请</td>
    </tr>
    {else/}
        {foreach name="list" item="item"}
    <tr>
        <td>{$item.a_id}</td>
        <td>{$item.name}</td>
        <td>{$item.phone}|{$item.wechat}</td>
        <td><span class='label label-info'>{$item.generation}代</span><span class='label label-info'>{$item.role_lang}</span></td>
        <td><span class='label label-info'>{$item.type_lang}</span><span class='label{switch name="item.status"}{case value="1"} label-success{/case}{case value="2"} label-important{/case}{default /}{/switch}'>{$item.status_lang}</span></td>
        <td>{$item.team_num}</td>
        <td>{$item.sale_num}</td>
        <td>￥{$item.lowest_limit}</td>
        <td><span class='{if condition="$item.stock_money lt $item.lowest_limit"}label label-warning{/if}'>￥{$item.stock_money}</span></td>
        <td>{$item['create_ctime']}</td>
        <td>{$item['examine_etime']}</td>
        <td>
            <a href="javascript:;" class='btn btn-info resetkey' data-aid='{$item.a_id}'>重置密码</a>
            <a href="{:url('/admin/Agents/recommendAgent/id/'.$item['a_id'])}" class='btn btn-info'>推荐代理</a>
            <a href="{:url('/admin/Agents/underAgent/id/'.$item['a_id'])}" class='btn btn-info'>直属代理</a>
            <a href="{:url('/admin/Agents/addAgent/a_id/'.$item['a_id'])}" class='btn btn-info'>角色升级</a>
            <a href="{:url('/admin/Agents/addAgent/a_id/'.$item['a_id'])}" class='btn btn-info'>变更上级</a>
            {if condition='$item.status eq "待审核"'}
            <a href="javascript:;" class='btn btn-success adopt' data-id='{$item.id}'>通过</a>
            <a href="javascript:;" class='btn btn-warning rebut' data-id='{$item.id}'>驳回</a>
            {else/}
            <a href="javascript:;" class='btn btn-danger del' data-id='{$item.id}'>删除</a>
            {/if}
        </td>
    </tr>
        {/foreach}
    {/empty}
</table>
<div class="inline pull-right page">
{$list->render()}
</div>
</body>
<script type="text/javascript">
    $('.datepicker').datepicker({
        autoclose: true,          //自动关闭
        calendarWeeks: false,     //是否显示今年是第几周
        clearBtn: true,           //显示清除按钮
        daysOfWeekDisabled: [],   //星期几不可选
        endDate: Infinity,        //日历结束日期
        forceParse: true,         //是否强制转换不符合格式的字符串
        format: 'yyyy-mm-dd',     //日期格式
        keyboardNavigation: true, //是否显示箭头导航
        language: 'zh-CN',        //语言
        minViewMode: 0,
        orientation: "auto",      //方向
        rtl: false,
        startDate: -Infinity,     //日历开始日期
        startView: 0,             //开始显示
        todayBtn: false,          //今天按钮
        todayHighlight: true,     //今天高亮
        weekStart: 0              //星期几是开始
    });
</script>
<script type="text/javascript">
    $(function () {

        // 重置密码
        $('.resetkey').click(function(){
            if(confirm('确认重置密码?')){
                var _a_id = $(this).data('aid');
                $.post('{:url("/admin/Agents/resetAgentPassword")}',{a_id:_a_id});
            }
        });

        // 通过
        $('.adopt').click(function(){
            var _id = $(this).data('id');
            modifyApply(_id,1,false);
        });

        // 驳回
        $('.rebut').click(function(){
            var _id = $(this).data('id');
            modifyApply(_id,2,false);
        });

        // 删除
        $('.del').click(function(){
            var _id = $(this).data('id');
            modifyApply(_id,3,'是否确认删除该条代理商申请记录?');
        });

        // 发送修改申请操作
        function modifyApply(m,n,msg){
            if(msg){
                if(confirm(msg)){
                    $.post('{:url("/admin/Agents/examineApply/")}',{id:m,type:n},function(e){window.location.reload();},'json');
                }
            }else{
                $.post('{:url("/admin/Agents/examineApply/")}',{id:m,type:n},function(e){
                    if(e.error){alert(e.error.msg)}else{window.location.reload();}
                },'json');
            }
        }

        // 查询
        $('.search').click(function(){
            var _start = $('input[name=begin]').val();
            var _end  = $('input[name=end]').val();
            if(_start && _end){
                _start = new Date(_start.replace("-", "/").replace("-", "/"));
                _end = new Date(_end.replace("-", "/").replace("-", "/"));
                if(_start>=_end){
                    alert('结束时间必须晚于开始时间！');
                    return false;
                }
            }
            $('form').submit();
        });

        // 导出
        $('.export').click(function(){

        });
    });
</script>
</html>