<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>{$spider.title}</title>
	<link rel="stylesheet" type="text/css" href="/static/Css/common.css" />
	<link rel="stylesheet" type="text/css" href="/static/Css/ripple.css" />
	<link rel="stylesheet" type="text/css" href="/static/Js/layer_mobile/need/layer.css" />
	<script type="text/javascript" src="/static/Js/layer_mobile/layer.js"></script>
	<script type="text/javascript">
		var docEl = document.documentElement;
		function getSize() { // 获取屏幕的宽度
			var screenWidth = docEl.clientWidth;
			docEl.style.fontSize = (screenWidth / (750 / 40)) + 'px';
		}
		getSize(); // 页面加载完执行一次
		window.onresize = function() {
			getSize();
		}

		// 跳转
		function redirect(url){
			window.location.href = url;
		}

		// 会员提示
		function memberTip(e){
			if (e == 1) {
				msgTipUrl('请先申请代理商身份','{:url("Index/applyRegist")}');
			} else {
				msgTip('申请正在审核中');
			}
		}

		// 自定义提示
		function msgTip(msg){
			layer.open({
				content:msg,
				skin: 'msg',
				time: 3, // 3s
			});
		}

		// 自定义弹窗
		function msgAlert(msg){
			layer.open({
				content:msg,
				btn:['确定']
			});
		}

		// 自定义提示+跳转
		function msgTipUrl(msg,url){
			layer.open({
				content:msg,
				btn:['确定'],
				yes: function(index){
					layer.close(index);
					if(url){
						redirect(url);
					}
				}
			});
		}
	</script>