{include file='header'/}
<style>
    .btn-content a{display: block;margin: 4px 0;}
</style>
<div id="performance-top">
    <h5>代理商库存</h5>
</div>
<form id="agentorders" class="form-inline definewidth search_table" action="{:url('/admin/Agentstock/index')}" method="get">
    代理商ID：
    <input type="text" name="agent_id" id="agent_id" class="abc input-default" placeholder="代理商ID" value="{if condition='$agent_id gt 0'}{$agent_id}{/if}">
    &nbsp;&nbsp;
    代理商姓名：
    <input type="text" name="name" id="name" class="abc input-default" placeholder="代理商姓名" value="{if condition='$name gt 0'}{$name}{/if}">
    &nbsp;&nbsp;
    联系方式：
    <input type="text" name="contact" id="contact" class="abc input-default" placeholder="联系方式" value="{if condition='$contact gt 0'}{$contact}{/if}">
    &nbsp;&nbsp;
    角色：
    <select name="role" id="role" class="search_input">
    <option value="-1">全部</option>
    {foreach name="roleList" item="item"}
    	<option value="{$item.id}" {if condition="$role eq $item.id"} selected="selected" {/if} >{$item.name}</option>
    {/foreach}
    </select>
    &nbsp;&nbsp;
    <!-- <br><br> -->
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
    <button type="button" id="excel" class="btn btn-success">导出</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>代理商ID</th>
        <th>姓名</th>
        <th>联系方式</th>
        <th>角色</th>
        <th>最低库存金额</th>
        <th>当前库存余额</th>
        <th>操作</th>
    </tr>
    </thead>
    {foreach name="agentList" item="item"}
        <tr {if condition="$item.stock_money ELT $item.lowestStock"}class="warning_red"{/if}>
            <td>{$item.agent_id}</td>
            <td class="tl">{$item.name}</td>
            <td class="tl">手机号：{$item.phone}<br/>微信号：{$item.wechat}</td>
            <td>{$item.role|get_reward_levelname}</td>
            <td class="tr"><span class="warn">￥{eq name='$item.role' value='0'}0.00{else/}{$item.lowestStock}{/eq}</span></td>
            <td class="tr"><span class="warn">￥{$item.stock_money}</span></td>
            <td class="btn-content">
                <a href="{:url('/admin/Agentstock/charge/id/'.$item->agent_id)}"><button class="btn btn-primary">充值库存</button></a>
                <a href="{:url('/admin/Agents/inventory/a_id/'.$item->agent_id)}"><button class="btn btn-primary">库存明细</button></a>
            </td>
        </tr>
     {/foreach}
</table>
<div class="inline pull-right page">
{$agentList->render()}
</div>
</body>
</html>
<script>
    $(function () {
    	$('#excel').click(function(){
			window.location.href="{:url('/admin/Agentstock/excelIndex/agent_id/'.$agent_id.'/name/'.$name.'/contact/'.$contact.'/role/'.$role)}";
	 	});

    });
</script>