<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>{$spider.title}</title>
		<link rel="stylesheet" type="text/css" href="/static/Css/common.css"/>
		<script type="text/javascript" src='/static/Js/jquery-2.1.0.min.js'></script>
		<style type="text/css">
			body{background-color: #F5F5F5;}
			button{border: 0;}
		</style>
		<script type="text/javascript">
			var docEl = document.documentElement;
			function getSize() { // 获取屏幕的宽度
				var screenWidth = docEl.clientWidth;
				docEl.style.fontSize = (screenWidth / (750 / 40)) + 'px';
			}
			getSize();// 页面加载完执行一次
			window.onresize = function() {
				getSize();
			}
		</script>
	</head>
	<body>
		<div id="bankCardContent">
			<div>
				<input type="text" name="bank" value='{$info.bank}' class="placeholder_99" placeholder="开户行" />
			</div>
			<div>
				<input type="text" name="name" value='{$info.name}' class="placeholder_99" placeholder="开户名" />
			</div>
			<div>
				<input type="text" name="account" value='{$info.account}' class="placeholder_99" placeholder="银行账号" onkeyup='value=value.replace(/[^0-9]/ig,"")' />
			</div>
			<button class="commonButton">确认</button>
		</div>
	</body>
	<script type="text/javascript">
		var is_from_choice = {$choice};
		$(function(){
			// 确认
			$('button').click(function(){
				var _bank = $('input[name=bank]').val();
				var _name = $('input[name=name]').val();
				var _account = $('input[name=account]').val();
				var cnReg = /^[\u4e00-\u9fa5]+$/;
				if($.trim(_bank) == ''){
					mobileTip('开户行不能为空');
					return false;
				}
				if($.trim(_name) == ''){
					mobileTip('开户名不能为空');
					return false;
				}else if(!cnReg.test(_name)){
					mobileTip('请填写真实有效的开户名');
					return false;
				}
				if($.trim(_account) == ''){
					mobileTip('账户不能为空');
					return false;
				}
				$.ajax({
					url:'{:url("Person/saveFinancialAccount","tid=2")}',
					data:{account:_account,name:_name,bank:_bank},
					type:'post',
					success:function(e){
						if(e.error){
							mobileAlert(e.error.msg);
						}else{
							if(is_from_choice == 1){
								window.location.href = '{:url("Person/appWithdrawals","type=2")}';
							}else if(is_from_choice == 2){
								window.location.href = '{:url("Person/recharge","type=2")}';
							}else{
								window.location.href = '{:url("Person/financialAccount")}';
							};
						};
					}
				});
			});
		});
	</script>
	<script type="text/javascript" src='/static/Js/layer_mobile/set_LayerMobile.js'></script>
</html>