<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>登录密码</title>
		<link rel="stylesheet" type="text/css" href="/static/Css/common.css" />
		<script type="text/javascript" src='/static/Js/jquery-2.1.0.min.js'></script>
		<style type="text/css">
			body{background-color: #F5F5F5;}
			button{border: 0;}
		</style>
		<script type="text/javascript">
			var docEl = document.documentElement;
			function getSize() { // 获取屏幕的宽度
				var screenWidth = docEl.clientWidth;
				docEl.style.fontSize = (screenWidth / (750 / 40)) + 'px';
			}
			getSize();// 页面加载完执行一次
			window.onresize = function() {
				getSize();
			}
		</script>
	</head>
	<body>
		<div id="loginPasswordLayout">
			<div>
				<input type="password" name="pwd" id="pwd" placeholder="请输入新密码" />
			</div>
			<div>
				<input type="password" name="newPwd" id="newPwd" placeholder="请再次输入新密码" />
			</div>
			<p class="text">备注:密码由6-20位英文字母、数字或符号组成</p>
			<button type='button' class="commonButton">确认</button>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){

			// 确认
			$('button').click(function(){
				var _pwd = $('#pwd').val();
				var _repwd = $('#newPwd').val();
				var reg = /[A-Za-z0-9~!@#\$%^&*\(\)\{\};,.\?\/]{6,20}/;
				if(!reg.test(_pwd)){
					mobileTip('密码不符合规则，请重新输入');
					return false;
				}
				if(_pwd != _repwd)
				{
					mobileTip('两次密码输入不一致，请重新输入');
					return false;
				}
				$.ajax({
					url:'{:url("Person/savePassword")}',
					type:'post',
					data:{pwd:_pwd},
					success:function(e){
						if(e.error){
							mobileTip(e.error.msg);
						}else{
							mobileTip(e.msg);
						}
					}
				});
			});
		})
	</script>
	<script type="text/javascript" src='/static/Js/layer_mobile/set_LayerMobile.js'></script>
</html>