{include file='index@common/header'}
	<style type="text/css">
		html,
		body {
			background-color: #F5F5F5;
		}
	</style>
</head>
<body>
	<div id="myCapitalContent">
		<ul>
		<!-- 
			<li>
				<a href="{:url('Person/myProfit')}">
					<i class="profit"></i> 我的收益
				</a>
			</li> -->
			<li>
				<a href="{:url('Person/myStock')}">
					<i class="store"></i> 我的库存
				</a>
			</li>
			<li>
				<a href="{:url('Person/stockTransfer')}">
					<i class="income"></i> 给下级转库存
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="{:url('Person/withdrawalsApp')}">
					<i class="cash"></i> 提现申请
				</a>
			</li>
			<li>
				<a href="{:url('Person/rechargeStock')}">
					<i class="pay"></i> 充值库存
				</a>
			</li>
		</ul>
	</div>
{include file='index@common/footer_button'}