<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>{$spider.title}</title>
		<link rel="stylesheet" type="text/css" href="/static/Css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/Css/store.css"/>
		<style type="text/css">
			html,
			body {
				background-color: #F5F5F5;
			}
		</style>
		<script type="text/javascript">
			var docEl = document.documentElement;
			function getSize() { // 获取屏幕的宽度
				var screenWidth = docEl.clientWidth;
				docEl.style.fontSize = (screenWidth / (750 / 40)) + 'px';
			}
			getSize(); // 页面加载完执行一次
			window.onresize = function() {
				getSize();
			}
		</script>
	</head>
	<body>
		<div id="inventoryUpLayout">
			<ul>
				{empty name='list'}
				<li>暂无记录</li>
				{else/}
				{volist name='list' id='vo'}
				<li><a href="{:url('Person/withdrawalsDetail','id='.$vo['id'])}" class="backArrowRight">
					<ol>
						<li>￥{$vo.money} 元</li>
						<li class="color_99">{$vo.create_ctime}</li>
					</ol>
					<div>{if condition="$vo->getData('audit') eq 1"}申请{/if}{if condition="$vo->getData('audit') eq 2"}已支付{/if}{if condition="$vo->getData('audit') eq 3"}驳回{/if}</div>
				</a></li>
				{/volist}
				{/empty}
			</ul>
		</div>
	</body>
</html>